importFrom(mgcv,predict.gam)
importFrom(splines,spline.des, bs)
importFrom(stringr,str_c)
importFrom(Rsurrogate, R.s.estimate)
importFrom(tidyr, spread, gather)
importFrom(dplyr, select, filter, mutate, summarise_all, group_by, ungroup, full_join, sample_n, inner_join, arrange, count)
importFrom(here, here)
importFrom(fs, dir_create)
importFrom(KernSmooth,locpoly)
importFrom(stats, approx,"as.formula", "cor", "dist", "formula", "predict",
             "quantile", "rnorm", "runif", "sd", "var", "na.omit","rexp")
importFrom(fdapace,FPCA)
importFrom(lme4,lmer)
importFrom(grf,causal_forest, average_treatment_effect)
importFrom(mvnfast,rmvn)
importFrom(plyr,dlply)
importFrom(tibble, tibble)
S3method(predict,fgam)
importFrom(magrittr,"%>%")
importFrom(glue, glue)
importFrom(purrr, map)
importFrom(readr, write_rds)
importFrom(refund, fgam, pfr,af,lf)
importFrom(fda, fd, eval.fd)
importFrom(fda.usc, semimetric.pca, fregre.np.cv, fdata,ops.fda.usc)
importFrom(survival, coxph, survfit)
importFrom(MASS, ginv)
export("presmooth_data", "estimate_surrogate_value", "sjm_linear_estimate","sjm_nl_estimate")
